@mixin answer-content-height {
  height: 95vh;
  max-height: 60rem;
}

.answer-wrapper {
  display: flex;
  align-items: flex-start;

  gap: $padding-mid;

  position: relative;
  width: 100%;
  padding: 0 $padding-mid;

  .answer-item-display {
    @include answer-content-height;
    @include bar-button;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $padding-mid;

    transition: transform $transition-normal-slow cubic-bezier(0, 0.3, 0.6, 1);

    &.answer-centered {
      transform: translateX(calc(50vw - 50%));
    }

    .block-display-switches {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $padding-mid;

      .list-display-switch {
        display: flex;
        align-items: center;
        gap: $padding-xs;

        background: $white;
        border-radius: $padding-large;
        outline: rem-to-px(1rem) solid $light;
        outline-offset: rem-to-px(3rem);

        .bar-button {
          box-shadow: none;

          &.selected {
            background: $white !important;
            box-shadow: $shadow-grey-default;
          }
        }
      }
    }

    .answer-block-list {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: $padding-mid;

      background-color: $white;
      border-radius: $radius-default;
      outline: 1px solid $light-grey;

      padding: $padding-mid;
      overflow: scroll;
    }

    .answer-full-block {
      margin: $padding-mid $padding-mid 0 $padding-mid;
    }

    .answer-loading-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;

      * {
        box-sizing: border-box;
      }
    }
  }

  .answer-item {
    // display: inline;
    display: flex;
    flex-direction: column;
    gap: $padding-small;

    // margin: 0 $padding-large;
    width: 20rem;
    height: fit-content;

    font-size: $font-size-default;
    line-height: 160%; // !
    text-align: left;
    padding: $padding-mid;
    box-sizing: border-box;

    .answer-item-text {
      display: inline;
    }

    .sentence-segment {
      border-bottom: rem-to-px(1.5rem) solid transparent;

      transition: border-bottom-color $transition-normal ease;

      &:has(.highlighted-answer-text) {
        border-bottom-color: $elegant-yellow;
      }
    }

    .text-segment {
      transition: background-color $transition-normal ease;
      &.highlighted-answer-text {
        background-color: $warn-yellow-x-light;
      }
    }

    .answer-text {
      transition: background-color $transition-normal ease;

      &.highlighted-answer-text {
        animation: highlighted-text-background $transition-normal ease;
        background-color: $warn-yellow-x-light;
      }
    }

    .answer-block-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      line-height: 100%;

      .answer-block-menu-item {
        font-size: $font-size-xs;
        padding: $padding-xs $padding-small;
        border-radius: $radius-small;

        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: $grey;
          color: $white;
        }

        &.highlighted {
          background-color: $elegant-yellow;
          color: $white;
        }

        &.disabled {
          pointer-events: none;
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
  }

  .react-flow-loading-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    @include answer-content-height;
    width: 100%;
    padding: 0;
    margin: 0;

    background-color: $white;
    border-radius: $radius-default;
    outline: 1px solid $light-grey;

    * {
      box-sizing: border-box;
    }
  }
}

.react-flow-wrapper {
  flex-grow: 1;

  @include answer-content-height;
  width: 100%;
  padding: 0;
  margin: 0;

  overflow: hidden;
  background-color: $white;
  border-radius: $radius-default;
  outline: 1px solid $light-grey;
}
