body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: $black;

  background-image: linear-gradient(
    90deg,
    rgba(#000, 0.025) 1px,
    transparent 1px
  );
  background-size: 10px 100%;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overscroll-behavior-x: none;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

.react-flow__attribution {
  visibility: hidden;

  &::after {
    content: 'React Flow';
    visibility: visible;
    color: $light-grey;
  }
}

/* -------------------------------------------------------------------------- */

.chat-app {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // gap: $padding-xx-large;
  // flex-wrap: nowrap;

  padding: $padding-xxx-large 0;
  min-height: 0;

  height: 100%;
  width: 100%;
  // background: $white;

  overflow-y: auto;
  box-sizing: border-box;
}

.version-stamp {
  position: relative;
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  font-size: $font-size-small;
}

.graphologue-logo img {
  max-height: 3rem !important;
  pointer-events: none;
}
