// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap');

@import 'root.scss';

@import 'animations.scss';

@import 'App.scss';
@import 'Playground.scss';
@import 'ReactFlow.scss';

@import 'Node.scss';
@import 'Edge.scss';
@import 'MagicNode.scss';
@import 'GroupNode.scss';

@import 'SuperTextEditor.scss';
@import 'MagicToolbox.scss';

@import 'Notebook.scss';

@import 'Interchange.scss';
@import 'Answer.scss';
@import 'SlideAnswer.scss';
