$shadow-node-selected: $shadow-heavy;

.react-flow__node {
  user-select: none;
  border: none;

  // z-index: -1 !important;

  .customNodeBody {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    background: $white;
    border: none;
    border-radius: $radius-default;
    // overflow: hidden;

    box-shadow: $shadow-default; // !
    outline: rem-to-px(2rem) solid transparent;
    outline-offset: rem-to-px(0);
    transition: box-shadow $transition-fast, outline $transition-fast,
      outline-offset $transition-fast;

    &.customNodeMetaPressed {
      box-shadow: $light-grey 0 0 rem-to-px(0) rem-to-px(2rem) !important;
    }
  }

  .customNodeContent {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: $white;

    border-radius: $radius-default;
    transition: transform $transition-fast;

    &.customNodeContentTarget {
      pointer-events: none;
    }
  }

  .customNodeContent,
  .customNodeContent * {
    font-family: inherit;
    color: $black;
    font-size: $font-size-default;
    font-weight: $font-weight-thin;
    // font-style: italic;
  }

  .customHandle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none;
    border: none;
    border-radius: 0 !important;
    background: $light-grey;
    opacity: 0;
    // z-index: 2;
  }

  &.selected {
    .customNodeBody {
      box-shadow: $shadow-node-selected;
      outline: rem-to-px(2rem) solid rgba($red, $opacity-mid);
      outline-offset: rem-to-px(2rem);
    }

    // .customNodeContent {
    //   font-weight: $font-weight-default;
    // }
  }
}

.flow-meta-pressed {
  .react-flow__node {
    z-index: -1 !important; // edges on top of the nodes
  }

  .customNodeContent {
    transform: scale(0.98);
    transform-origin: center;
  }
}
