.notebook {
  display: flex;
  flex-direction: column;

  position: absolute;
  right: 0;

  padding: 0;
  margin: $padding-mid;
  height: calc(100vh - 2 * $padding-mid);
  width: calc(20rem + 2 * $padding-xs);

  border-radius: $radius-large;

  background: rgba(#fefefe, $opacity-mid);
  backdrop-filter: blur($blur-xh);

  z-index: 999;
  box-shadow: rgba($light-grey, $opacity-mid) 0 0 0 rem-to-px(1rem);

  transition:
    right $transition-normal-slow ease-in-out,
    transform $transition-normal ease-in-out;

  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }

  overflow: hidden;

  .notebook-bar {
    @include the-bar(
      $radius-large,
      $white,
      $light-grey,
      $white,
      $light-grey,
      $light-grey
    );
    position: fixed !important;
    padding-right: calc($padding-small + $padding-xs);

    justify-content: space-between;
    z-index: 1;

    h1.notebook-title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $padding-small;

      text-align: center;
      padding: $padding-small $padding-mid;
      margin: 0;
      line-height: 100%;

      font-family: 'Roboto Slab', serif;
      font-size: $font-size-x-large;
      font-weight: $font-weight-default;
      color: $light-grey;
    }
  }

  .notebook-notes {
    padding: calc(
        $font-size-x-large + 4 * $padding-small + rem-to-px(1rem) + $padding-xs
      )
      0 $padding-xs 0 !important;
    height: 100%;
    max-height: 100%;
    border-radius: $radius-large;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: $padding-small;

    overflow-y: scroll;
    z-index: 0;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}
