.slide-wrapper {
  display: block;

  width: 20rem;
  // height: 15rem !important;
  padding: $padding-mid $padding-large !important;

  overflow: scroll;

  .slide-text-wrapper {
    display: flex;
    flex-direction: column;

    position: relative;

    h1,
    h2,
    p {
      margin: $padding-xs 0;
    }

    h1 {
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
    }

    h2 {
      font-size: $font-size-default;
      font-weight: $font-weight-default;
    }

    ul,
    ol {
      padding: 0 0 0 $padding-mid;

      ::marker {
        font-weight: $font-weight-bold;
        color: $grey;
      }

      // li {
      //   list-style: none;
      //   font-size: $font-size-small;
      //   font-weight: $font-weight-thin;

      //   &::before {
      //     content: 'ê•¤';
      //     color: $light-grey;
      //     display: inline-block;
      //     // width: 1em;
      //     margin-right: $padding-small;
      //   }
      // }
    }
  }
}
