.super-wrapper {
  position: relative;
  margin: 0;
  padding: 0;

  outline: none;
  border: none;

  overflow: visible;

  .super-text-editor {
    width: auto;
    // max-width: 12rem;
    height: auto;
    min-width: 1rem; // ?
    font-family: inherit;

    margin: 0;
    background: none;
    outline: none;
    border: none;
    appearance: none;

    text-align: center;
    resize: none;
  }
}

.super-wrapper-node {
  // https://css-tricks.com/auto-growing-inputs-textareas/
  display: inline-grid;
  vertical-align: middle; // top?
  align-items: stretch;

  &::after,
  .super-text-editor {
    grid-area: 1 / 1 / 1 / 1;

    border-radius: 0;
    padding: $padding-mid $padding-xx-large;
  }

  &::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
  }
}

.super-wrapper-edge {
  transform: translate(-50%, -50%);
  display: inline-flex;
  align-items: center;

  .super-text-editor {
    flex: 1;
    padding: $padding-xs $padding-xs;

    border-radius: $padding-x-large;
    font-size: $font-size-xs;
    color: $dark-grey;

    background: rgba($white, 0);
    outline: unit-rem-to-px(1rem) solid transparent;
    outline-offset: 0;

    transition: outline $transition-fast, background-color $transition-fast;

    // when not empty
    &:not(.empty-text-editor) {
      background: rgba($white, $opacity-mid);
      backdrop-filter: blur($blur-small);
    }

    // when selected
    &.selected-text-editor {
      background: $white;
      outline: unit-rem-to-px(1rem) solid rgba($red, $opacity-mid);
    }

    // when hovered

    // when editing
    &:not(.disabled-text-editor) {
      outline: unit-rem-to-px(1rem) solid rgba($pink, $opacity-mid);
    }
  }
}
